*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
}

/* inizio header */

header{
    background-image: url(./img/jumbo.png);
    background-size: contain;
    padding-block: 20px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    /* border: 1px solid white;  */
}

.nav-container div{ 
    /* height: 40px; */
    /* flex-basis: 25%; */
    /* background-color: #697db6;  */
}

.nav-container nav{
    /* height: 40px; */
    flex-basis: 50%;
    /* background-color: #697db6; */
}

ul{
    display: flex; 
    justify-content: space-around;
}

.button{
    background-color:rgba(81, 99, 148, 0.5) ;
    border-radius: 20px;
    padding: 10px;
    /* align-self: flex-end;  */
}

a{
    color: #ffffff; 
    justify-content: center;
    text-decoration: none; 
}

ul li{
list-style-type: none;
text-decoration: none;
}

.main-text{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 60%;
    margin: 20px auto;
    padding-block: 10px;
    color: #ffffff;
    /* background-color: #7d95d9;  */
}

.main-text h1{
    /* max-width: 100%; */
    /* height: 60px; */
    /* background-color: #697db6;  */
    text-align: center;
}

.main-text p{
    /* max-width: 100%; */
    /* height: 100px; */
    /* background-color: #697db6; */
    text-align: center;
}

.button-container{
    /* gap: 40px; */
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    /* width: 70%; */
    /* margin: 0 auto; */
    /* background-color: #697db6;  */
};
    
.button-container div{
    /* flex-basis: 30%; */
    /* height: 20px; */
    font-size: 15px;
    /* background-color: #516394; */
}

/* fine header */



/* inizio main */

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px; 
    gap: 35px;
}

.row div{
    /* background-color: #9fb3ec; */
    /* flex-basis: 50%;  */
    /* height: 500px; */
}

.inside-row{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px; 
}

.inside-row h2{
    /* max-width: 100%; */
    /* height: 30%; */
    /* background-color: #697db6; */
} 
.inside-row p{
    /* max-width: 100%; */
    /* height: 70%; */
    /* background-color: #697db6; */
}

.reverse img{
    order: 2; 
}


.white{
    background-color: #ffffff; 
}

.gray{
    background-color: #e0e0e0; 
    flex-direction: row-reverse;
}

/* fine prima sezione main */



.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px; 
    gap: 35px;
    /* background-color: #e0e0e0; */
    flex-direction: column;
}

.bottom-container div{
    /* width: 100%; */
    /* height: 200px; */
    /* background-color: #9fb3ec; */
}

#download-app{
    /* width: 60%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

#download-app div{
    /* width: 100%; */
    /* height: 50px; */
    /* background-color: #697db6; */
}

#download-app h3{
    background-image: url(./img/stars.svg);
    background-size: cover;
}


#download #download-button{ 
    /* width: 400px; */
    /* align-self: center; */
}

.bottom-container0{
    display: flex;
    justify-content: center;    
    gap: 20px;
}

.bottom-container0 div{
    width: 20%; 
    background-color: #697db6;
    height: 400px;
}

.bottom-container1{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.bottom-container1 div{
    width: 30%;
    height: 50px;
    background-color: #697db6; 
    margin-top: 30px ;
}

footer{
    background-color: #516394;
    padding-inline: 80px;
    padding-block: 30px;
}